.disclosure[aria-expanded=true] > .disclosure__text-collapsed, .disclosure[aria-expanded=false] > .disclosure__text-expanded {
  display: none;
}

.disclosure {
  background: none;
  border: none;
  margin: 1rem 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  color: currentColor;
}

.element-controller__element:not([data-element-controller-name]) {
  display: none;
}

.svg-symbols {
  display: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: none;
  pointer-events: none;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 3;
}

.banner {
  background: #16c4c6;
  color: white;
  text-align: center;
  padding: 0.5em;
  margin: 1em;
  position: relative;
  display: inline-block;
}
.banner--ribbon {
  line-height: 1;
}
.banner--ribbon::before, .banner--ribbon::after,
.banner--ribbon > span::before,
.banner--ribbon > span::after {
  content: "";
  position: absolute;
  width: 1em;
  border-style: solid;
}
.banner--ribbon::before,
.banner--ribbon > span::before {
  left: 0;
  transform: translateX(-99%);
}
.banner--ribbon::after,
.banner--ribbon > span::after {
  right: 0;
  transform: translateX(99%);
}
.banner--ribbon::before {
  border-color: transparent #16c4c6 transparent transparent;
  border-width: 1em 0.5em 0 0;
  bottom: 0;
}
.banner--ribbon::after {
  border-color: transparent transparent transparent #16c4c6;
  border-width: 1em 0 0 0.5em;
  bottom: 0;
}
.banner--ribbon > span::before {
  border-color: transparent #16c4c6 transparent transparent;
  border-width: 0 0.5em 1em 0;
  top: 0;
}
.banner--ribbon > span::after {
  border-color: transparent transparent transparent #16c4c6;
  border-width: 0 0 1em 0.5em;
  top: 0;
}

.banner--lto {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  line-height: 1;
}
.dtm__in--dv .banner--lto {
  position: absolute;
  width: 100%;
  max-width: 15em;
  font-size: 3rem;
}

.dtm__in--mv .banner--lto {
  display: block;
  margin-top: 0;
}
@media all and (max-width: 320px) {
  .dtm__in--mv .banner--lto {
    font-size: 5vw;
  }
}

.slide__into {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0.25rem;
  border-color: #252525;
  contain: content;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.slide__into::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
  background: #d7d7d7;
}
.slide__into::-webkit-scrollbar-thumb {
  background: black;
}
.slide__item {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  scroll-snap-align: start;
  position: relative;
}
.slide img {
  display: block;
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
.slide .slide__video {
  align-items: center;
}
.slide .slide__video img {
  height: auto;
  bottom: 0;
  margin: auto;
}
.slide__is-hidden {
  display: none;
}
.slide--vertical .slide__into {
  flex-direction: column;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slide .slide__into--no-scroll {
  overflow: hidden;
}
.slide__caption {
  position: absolute;
  bottom: 1em;
  left: 0;
  display: flex;
  justify-content: center;
  right: 0;
}
.slide__caption__text {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.1em;
  padding: 0.25em 1em;
  border-radius: 2em;
  text-align: center;
  min-width: 10em;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

.slide__into {
  z-index: 2;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.slide__into::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(0, 0, 0, 0.2);
}
.slide__into::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.slide--no-scrollbar .slide__into {
  scrollbar-width: none;
}
.slide--no-scrollbar .slide__into::-webkit-scrollbar {
  display: none;
}
.slide__item,
.slide__item img {
  margin: 0;
}
.slide__next {
  transform: rotate(0.5turn);
}
.slide__nav {
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 4em;
  display: flex;
  justify-content: space-between;
}
.slide__nav button {
  opacity: 0;
  border: 1px solid;
  background: white;
  color: black;
  border-color: black;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  padding: 0.05em;
  font-size: 2em;
  position: relative;
  z-index: 2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 100ms linear, color 100ms linear, opacity 250ms ease-in-out 1s;
}
.slide__nav button:hover, .slide__nav button:focus {
  background: black;
  border-color: white;
  color: white;
}
.slide__nav button:focus {
  outline-color: black;
}
@media all and (min-width: 1000px) {
  .slide__nav {
    position: absolute;
  }
}
@media all and (min-width: 1000px) {
  .slide__nav--extend .slide__prev {
    left: -2em;
  }
  .slide__nav--extend .slide__next {
    right: -2em;
  }
}
@media all and (max-width: 1000px) {
  .slide__nav + .slide__thumbnails {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.slide__thumbnails {
  flex: 1;
  justify-content: center;
  margin: 0.5em;
}
.slide__dot {
  width: 0.5em;
  height: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  flex: 0 0 0.5em;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: black;
}
.slide__dot picture {
  display: none;
}
.slide__dot:focus {
  outline-color: black;
  -webkit-mask-image: none;
}
.slide__dot::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.slide__dot--is-selected {
  transform: scale(1.5);
}
.slide__dot--is-selected::after {
  opacity: 1;
}
.slide--is-ready .slide__nav button {
  opacity: 1;
  pointer-events: all;
}

.slide {
  position: relative;
}
.slide__nav {
  height: 5em;
}
.slide__nav button {
  color: currentColor;
  border-color: transparent;
  box-shadow: none;
  font-size: 3em;
  transform: scaleY(-1);
}
.slide__nav button:hover, .slide__nav button:focus {
  background: #0e76bc;
}
.slide__prev > svg {
  transform: rotate(0.25turn);
}
.slide__next > svg {
  transform: rotate(0.75turn);
}
.slide__into {
  max-width: 49em;
  margin: auto;
  align-items: center;
}

.reviews figure {
  display: flex;
  flex-direction: column;
  line-height: 1.45;
  margin-bottom: 1em;
}
.reviews figure > * + * {
  margin-top: 1rem;
}
.reviews blockquote,
.reviews figcaption {
  width: 100%;
}
.reviews h2 {
  font-size: 4rem;
  padding-bottom: 3rem;
}
.reviews__in {
  max-width: 60em;
  margin: auto;
  padding: 2em;
}

/*# sourceMappingURL=app.css.map */
