$select: ".button" !default;

// config
@use "../config/colors";
@use "../config/fonts";

// components
@use "Shared/css/template/base/abstracts/button";

@mixin base {
    #{$select} {
        @include button.container;
        @include button.structure {
            overflow: hidden;

            padding: 0.75em 1.5em;
            border-radius: 0.3em;

            text-decoration: none;
            text-transform: uppercase;

            font: 900 fonts.em(22) / 1 fonts.get(primary);

            &::before {
                background: colors.get(primary);
            }

            &::after {
                background: colors.get(primary-dark);
            }
        }

        @content;
    }
}

@mixin circular {
    #{$select} {
        &--circular {
            @include button.capsule-circular;

            #{$select} {
            }

            @content;
        }
    }
}
