$select: ".message" !default;

// components
@use "Shared/css/template/base/components/validate" with (
    $select: $select,
    $separator: "",
    $font-size: 1em
);

@mixin base {
    @include validate.new;

    #{$select} {
        &__group {
            order: 1;
        }

        @content;
    }
}
