@use "sass:map";

@forward "Shared/css/template/base/config/units";

$list: (
    base: (
        Arial,
        Helvetica,
        sans-serif
    ),
    primary: (
        proxima-nova,
        Helvetica,
        sans-serif
    ),
    secondary: (
        proxima-nova-extra-condensed,
        Helvetica,
        sans-serif
    )
);

@function get($name) {
    @return map.get($list, $name);
}
