$select: ".footer" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";

// abstracts
@use "Shared/css/template/base/abstracts/background";
@use "Shared/css/template/base/abstracts/list";

@mixin base {
    #{$select} {
        overflow: hidden;

        text-align: center;

        @include background.color-map(colors.get(accent-dark), colors.get(base-light));

        nav {
            @include list.structure($offset: 0);

            @media all and (max-width: 640px) {
                @include list.convert-to-grid($width: 12em) {
                    > * {
                        display: block;
                        text-align: left;
                    }
                }
            }

            @media all and (min-width: 640px) {
                @include list.inline;
            }
        }

        a {
            text-align: left;

            &:not(:hover):not(:focus) {
                text-decoration: none;
            }
        }

        @content;
    }
}
