@use "sass:map";

$list: (
    base: #555555,
    base-light: white,
    base-dark: black,
    primary: #16bdc1,
    primary-dark: #0d8081,
    accent: #0e76bc,
    accent-dark: #174161,
    accent-midtone: #235370,
    accent-light: #88dfff,
    accent-pastel: #d9ebf7
);

@function get($name) {
    @return map.get($list, $name);
}
